# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.metadata
Debug
RemoteSystemsTempFiles
.project
.cproject
.settings

# Qt
build-DivisactionQt*
*.pro
*.pro.user

# CLion
.idea
.idea_modules
